$champion-color: #E0E000;
$clgroup-color: #FFFF80;
$elgroup-color: #A0F060;
$elquali-color: #A0FFC0;
$neutral-color: #F0F0F0;
$rele-playoff-color: #FFD080;
$relegation-color: #FFB0A0;

body {
	font-family: Calibri;
	font-size: 20px;
}

.heading {
	text-align: center; 
	font-size: 36px;
}

.table-heading {
	background-color: #D0D0D0;
}